%h2 よくある質問（FAQ）
%dl
  %dt Q. キーワード検索せずに絞り込みたい
  %dd A. キーワードを何も入力せずに検索ボタンを押してから絞り込んでください。
  %dt Q. 著者で絞り込みたい
  %dd A. 著者名でページ内検索して、著者名のリンクをクリックして絞り込んでください。
  %dt Q. 絞り込みのリンクが見当たらない
  %dd A. ウィンドウの幅が狭いときは検索結果の下に表示されるようになっています。続けて絞り込みたいときはウィンドウの幅を広げてみてください。
  %dt Q. 絞り込みを解除したい
  %dd A. 「絞り込みを解除」にチェックを入れてから再検索してください。
