= render :_search_form, layout: false
%br
- if @books
  .row
    .col-sm-7
      = render :_books, layout: false
    .col-sm-2
      %p
        = render :_authors, layout: false
    .col-sm-3
      %p
        = render :_conditions, layout: false
