!!!
%html
  %head
    %meta(charset="UTF-8")
    %title Aozorasearch - 青空文庫検索
    %meta(name="viewport" content="width=device-width" initial-scale="1.0")
    %meta(name="description" content="青空文庫の本文を検索できるサイト。キーワードの前後を部分表示します。著者やNDC、仮名遣いなどでの絞り込み機能付き。全文検索エンジンとしてGroongaを使用。")
    %meta(name="keywords" content="青空文庫,全文検索")
    %link(href="vendor/bootstrap/css/bootstrap.min.css"
          rel="stylesheet" media="screen")
    %link(href="css/aozorasearch.css" rel="stylesheet" media="screen")
  %body
    = render :_header, layout: false

    .container
      = yield

    #footer.container.text-right
      = render :_footer, layout: false
